.header {
    background-color: grey;
    color: white;
    font-size: 20px;
    width: 1340px;
    height: 40px;
}

.mainbody {
    background-color: white;
    width: 1340px;
    height: 600px;
    font-size: 50px;
}

.footer {
    background-color: black;
    width: 1340px;
    height: 100px;
}