body {
    margin: 0;
    padding: 0;
    background-image: url("bg1c.jpeg");
    background: linear-gradient(to bottom, transparent);
    background-size: 100%;
    height: 700px;
}
.header {
    overflow: hidden;
    /* color: white; */
    height: 50px;
    width: 100%;
    margin: 0;
} 

.logo {
    float: left;
    align-items: center;
    padding: 7px;
    font-size: 27px;
    display: flex;
    border: 10px;
}

.logo a{
    text-decoration: none;
    color: rgb(35, 48, 37);
}
.logo:hover{
    border-bottom: 2px solid white;
}
.navmenu {
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
    font-style: normal;
    font-size: 20px;
    height: 50px;
}

.navmenu a{
    padding: 12px 12px;
    text-decoration: none;
    color: white;
}
.navmenu a:hover{
    /* margin-top: 0;
    margin-bottom: 0; */
    border-bottom: 2px solid white;
}
.mainbody {
    color: white;
    width: 100%;
    height: 100%;
}

.Welcome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    padding-top: 7%;
    padding-left: 50%;
}
.Welcome2{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    padding-left: 50%;
}
.Welcome3{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    padding-left: 50%;
}
.Welcome4{
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    padding-left: 50%;
}
h1{
    margin: 0;
    padding: 0;
}

.tagline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}


.buton{
    background-color: rgba(245, 240, 251, 0.2);
    text-align: center;
    position: absolute;
    padding: 3%;
    margin: 0;
    top: 30%;
    left: 15%;
    font-family: sans-serif;
    font-size: 20px;
    width: 25%;
    height: auto;
    border-radius: 10px;
    /* border-style: solid;
    border-color: black;
    border-width: 0.2px; */
}
.buton p{
    text-align: center;
    padding: 0;
    color: white;
}

.buton a{
    text-decoration: none;
    text-align: center;
}
.btn_google{
    color: blue;
    background-color: rgb(240, 255, 255);
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.8;
    transition: 0.3s;
}
.btn_fb{
    color: white;
    background-color: rgb(59, 89, 152);
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.8;
    transition: 0.3s;
}
.btn_twt{
    color: white;
    background-color: rgb(0, 172, 240);
    padding: 10px 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.8;
    transition: 0.3s;
}
.btn_google:hover {opacity: 1;}
.btn_fb:hover {opacity: 1;}
.btn_twt:hover {opacity: 1;}

.Artikel{
    background-color: white;
    width: 100%;
    height: 700px;
}
.titleartikel{
    /* float: left; */
    /* justify-content: center; */
    width: 300px;
    margin-left: 5%;
    font-family: sans-serif;
    padding-top: 7%;
    /* padding-left: 5%; */
    border-bottom: 3px solid lightgreen;
    border-width: 7px;
}
.isiartikel{
    padding: 5% 5% 10% 5%;
    color: black;
    column-count: 4;
    -webkit-column-count: 4;
    text-align: justify;
}
.contact-class{
    font-family: sans-serif;
    background-color: white;
    background-size: 200px;
}
/* .container{
    justify-content: center;
    display: flex;
} */
.contact-form{
    padding: 5% 5% 5% 5%;
}
.input{
    border-radius: 7px;
}
.textarea{
    border-radius: 10px;
}
.section-title{
    width: 180px;
    border-bottom: 3px solid lightgreen;
    border-width: 7px;
}
.sob{
    border-radius: 5px;
    background-color: lightgreen;

}
.footer {
    float: left;
    background-color: #747c92;
    width: 100%;
    height: 30%;
    font-size: 15px ;
    margin: 0;
}

.footer a{
    padding-left: 5px;
    Color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.footer li{
    margin: 5px;
    list-style-type: none;
}
